
.teleportId {
  position: relative;
}

.listArea {
  padding: 3rem 2rem;
}

.feedItem {
  width: 100%;
  border-radius: .3rem;
  box-shadow: 0 0 .2rem #ccc;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  padding: .6rem;
  box-sizing: border-box;
}

.feedTitle {
  font-size: 0.28rem;
  font-family: Poppins-Medium, Poppins;
  font-weight: 500;
  color: #05021E;
  margin-right: 1rem;
  text-decoration: underline;
}

.feedTitle:active {
  color: rgb(103, 185, 233);
}

.feedImage {
  width: auto;
  height: 4rem;
}

